<section class="sign-in">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-2 col-sm-0 col-xm-0  sign-in-right">

            </div>
            <div class="col-lg-6 col-md-8 col-sm-12 col-xm-12 sign-in-left">
                <div class="title">
                    <img src="./assets/images/logo.png" alt="">
                    <h5>CODEEVERYDAY</h5>
                </div>

                <div class="login-alert">

                </div>
                <form action="/register" id="reg-form">
                    <h6>Username</h6>
                    <input id="username" name="username1" type="text" placeholder="Username">
                    <h6>Email</h6>
                    <input id="email" name="email" type="email" placeholder="Email">
                    <h6>Password</h6>
                    <input id="password" type="password" placeholder="Password">
                    <h6>Confirm Password</h6>
                    <input id="confirmPassword" type="password" placeholder="Confirm Password">
                    <h6 style="color: red; margin-bottom: 20px;" class="notification"></h6>
                    <button type="submit" value="Submit Form" class="btn btn-info form-submit" id="form-submit"
                        placeholder="Password">Create</button>
                </form>

                <div class="sign-in-left-mid">
                    <a href="#">Forgot password?</a>
                    <a href="#">Sign in with company or school</a>
                </div>
                <div class="create">
                    <button type="button" class="btn btn-secondary"
                        onclick="window.location.href='/login'">Login</button>
                </div>
            </div>
            <div class="col-lg-3 col-md-2 col-sm-0 col-xm-0  sign-in-right">

            </div>
        </div>
    </div>
</section>

<script>
    const btnRegister = document.getElementById('form-submit')
    const password = document.getElementById('password')
    const confirmPassword = document.getElementById('confirmPassword')
    const email = document.getElementById('email')
    const notification = document.getElementsByClassName('notification')[0]
    function validateEmail(email) {
        const re = /\S+@\S+\.\S+/;
        if (re.test(email)) {
            return true;
        } else {
            return false;
        }
    }

    const handleSubmit = () => {
        btnRegister.onclick = (e) => {
            if (password.value != confirmPassword.value) {
                notification.innerHTML = 'Password not match'
                e.preventDefault()
            }
            else if (password.value.length < 5) {
                e.preventDefault()
                notification.innerHTML = 'Password at least 5 characters'
            }
            else if (validateEmail(email.value) === false) {
                notification.innerHTML = 'Invalid Email'
                e.preventDefault()
            }
        }
    }
    handleSubmit()
</script>